body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.active-get {
    background-color: #ffb4ec; 
    color: #348207; 
}

.active-query {
    background-color: #2a9d8f; 
    color: #fed0ff;
}

[data-idx] {
    cursor: pointer;
}

#buttons {
    margin: 10px;
}

#buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

